@import "../layout/variable";
@import "../layout/mixin";
@import "../layout/header";
@import "../layout/home";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*,
html {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/20px "Lato", sans-serif;
  color: #171717;
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 10px;
  font-weight: 700;
}
.h1,
h1 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  @media (min-width: 768px) {
    font-size: 38px;
    line-height: 42px;
  }
  @media (min-width: 992px) {
    font-size: 46px;
    line-height: 50px;
  }
}
.h2,
h2 {
  font-size: 20px;
  line-height: 24px;
  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 32px;
  }
  @media (min-width: 992px) {
    font-size: 36px;
    line-height: 40px;
  }
}
h3,
.h3{
  font-size: 18px;
  line-height: 22px;
  @media (min-width:992px){
    font-size: 24px;
  line-height: 28px;
  }
}
h4,
.h4{
  font-size: 18px;
  line-height: 22px;
  @media (min-width:992px){
    font-size: 22px;
    line-height: 26px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  cursor: pointer;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  min-width: 130px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 12px;
}
.btn {
  color: $white;
  text-transform: uppercase;
  border: 1px solid $primary;
  background-color: $primary;
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
.secondary{
  color: $white;
  text-transform: uppercase;
  border: 1px solid $lightGreen;
  background-color: $lightGreen;
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary;
    color: $white;}
}
.transparent{
  background: transparent;
  color: $white;
  text-transform: uppercase;
  border: 1px solid $white;
  transition: all 0.3s ease;
  &:hover {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
  }
}
.gray{
  background: $lightGray;
  color: #414141;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $gray;
  }
}
.italic{
  font-family: "Dancing Script", sans-serif;

}