@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
header {
  background-color: white;
  border-bottom: 2px solid #083046;
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
@media (min-width: 992px) {
  header .container {
    justify-content: space-evenly;
  }
}
header .logo img {
  width: 145px;
  height: 48px;
}
header .hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 15px;
  cursor: pointer;
  margin-left: auto;
}
header .hamburger .bar {
  width: 100%;
  height: 2px;
  background-color: #000;
}
header .hamburger .bar:nth-child(2) {
  width: 20px;
}
header .hamburger .bar:nth-child(3) {
  width: 15px;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul .nav-item {
  padding: 5px 10px;
}
@media (min-width: 992px) {
  header nav ul .nav-item {
    border-right: 1px solid rgba(51, 51, 51, 0.7019607843);
  }
  header nav ul .nav-item:nth-last-child(1) {
    border-right: none;
  }
}
header nav ul .nav-item a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
header nav ul .nav-item a:hover {
  color: rgba(51, 51, 51, 0.7019607843);
}
header nav ul .nav-item.active a {
  color: rgba(51, 51, 51, 0.7019607843);
}
@media (max-width: 992px) {
  header .hamburger {
    display: flex;
  }
  header nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
  }
  header nav .nav-item {
    margin: 10px 0;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
  }
  header nav .nav-item:last-child {
    border-bottom: none;
  }
  header .nav-open {
    left: 0;
  }
}

#home .hero {
  overflow: hidden;
  padding-top: 100px;
  background-image: url("../images/home/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .hero .container {
  color: white;
  text-align: center;
  position: relative;
  padding: 60px;
  margin: 0 10px;
}
#home .hero .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.59);
}
#home .hero .container .heading {
  position: relative;
  z-index: 1;
}
#home .hero .container .heading p {
  margin-bottom: 20px;
  position: relative;
}
#home .hero .container .heading p::after {
  content: "";
  position: absolute;
  width: 30px;
  background-color: #fff;
  height: 2px;
  left: 47%;
  top: 29px;
}
#home .hero .container .heading .btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
#home .startLearn {
  background: #F8F8F8;
  padding: 40px 0;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #home .startLearn {
    margin-bottom: 60px;
  }
}
#home .startLearn h2 {
  margin-bottom: 30px;
  text-align: center;
}
#home .startLearn .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 768px) {
  #home .startLearn .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  #home .startLearn .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: inherit;
    justify-content: inherit;
  }
}
#home .startLearn .cards .card {
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ddd;
  padding: 40px 20px;
  background-color: white;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 768px) {
  #home .startLearn .cards .card {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  #home .startLearn .cards .card {
    border-right: 1px solid #ddd !important;
    border: inherit;
  }
}
#home .startLearn .cards .card img {
  width: 40px;
  height: 40px;
}
#home .startLearn .cards .card .textWrap {
  font-size: 16px;
  line-height: 20px;
}
#home .startLearn .cards .card .textWrap p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  #home .startLearn .cards .card .textWrap p {
    min-height: 100px;
  }
}
#home .startLearn .cards .card .textWrap .title {
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  #home .startLearn .cards .card .textWrap .title {
    font-size: 24px;
    line-height: 28px;
  }
}
#home .startLearn .cards .card .textWrap a {
  font-weight: bold;
  text-decoration: underline;
}
#home .startLearn .cards .card .textWrap .bold {
  color: #008080;
  font-weight: bold;
}
#home .feature {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #home .feature {
    margin-bottom: 60px;
  }
}
#home .feature h2 {
  margin-bottom: 20px;
}
#home .feature .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 768px) {
  #home .feature .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  #home .feature .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
#home .feature .cards .card {
  overflow: hidden;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  max-width: 400px;
}
#home .feature .cards .card img {
  width: 100%;
  max-width: 370px;
  min-height: 150px;
  margin-bottom: 15px;
  transform-origin: center;
  transform: scale(1);
  transition: all 0.3s ease;
}
#home .feature .cards .card img:hover {
  transform: scale(1.1);
}
#home .feature .cards .card strong {
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  #home .feature .cards .card strong {
    font-size: 20px;
    line-height: 24px;
  }
}
#home .feature .cards .card p {
  margin-bottom: 20px;
}
#home .packages {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #home .packages {
    margin-bottom: 60px;
  }
}
#home .packages h2 {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  #home .packages h2 {
    margin-bottom: 50px;
  }
}
#home .packages .cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 576px) {
  #home .packages .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 768px) {
  #home .packages .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  #home .packages .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
#home .packages .cards .cardWrap {
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) {
  #home .packages .cards .cardWrap:nth-child(2) {
    margin-top: -10px;
  }
}
#home .packages .cards .cardWrap:nth-child(2) ul {
  border: 1px solid rgb(23, 69, 88);
}
#home .packages .cards .cardWrap:hover {
  transform: translateY(-10px);
}
#home .packages .cards .cardWrap .heading {
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  #home .packages .cards .cardWrap .heading {
    font-size: 20px;
    line-height: 24px;
  }
}
#home .packages .cards .cardWrap .card {
  margin: 0 auto;
  width: 100%;
  max-width: 276px;
  border: 1px solid #ddd;
}
#home .packages .cards .cardWrap .card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
#home .packages .cards .cardWrap .card .text {
  background: rgb(23, 69, 88);
  display: block;
  color: white;
  padding: 30px 20px;
  font-size: 40px;
  line-height: 44px;
}
#home .packages .cards .cardWrap .card .text sup {
  font-size: 28px;
  line-height: 32px;
}
#home .packages .cards .cardWrap .card .text span {
  display: block;
  font-size: 16px;
  line-height: 20px;
}
#home .packages .cards .cardWrap .card ul li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  line-height: 19px;
}
#home .onlineClass {
  margin-bottom: 40px;
}
@media (min-width: 929px) {
  #home .onlineClass {
    margin-bottom: 60px;
  }
}
#home .onlineClass .textWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  #home .onlineClass .textWrap {
    flex-direction: row;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #home .onlineClass .textWrap .text {
    width: 100%;
    max-width: 500px;
  }
}
#home .onlineClass .textWrap img {
  width: 100%;
  max-width: 500px;
}
#home .onlineClass .textWrap h3 {
  margin-bottom: 20px;
}
#home .onlineClass p {
  margin-bottom: 20px;
}
#home .quranHub {
  background: #F8F8F8;
  padding: 40px 0;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #home .quranHub {
    margin-bottom: 60px;
  }
}
#home .quranHub h2 {
  margin-bottom: 30px;
  text-align: center;
}
#home .quranHub .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 768px) {
  #home .quranHub .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  #home .quranHub .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
#home .quranHub .cards .card {
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ddd;
  padding: 40px 20px;
  background-color: white;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 768px) {
  #home .quranHub .cards .card {
    max-width: 400px;
  }
}
#home .quranHub .cards .card img {
  width: 40px;
  height: 40px;
}
#home .quranHub .cards .card .textWrap {
  font-size: 16px;
  line-height: 20px;
}
#home .quranHub .cards .card .textWrap p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  #home .quranHub .cards .card .textWrap p {
    min-height: 100px;
  }
}
#home .quranHub .cards .card .textWrap .title {
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  #home .quranHub .cards .card .textWrap .title {
    font-size: 24px;
    line-height: 28px;
  }
}
#home .partners .imgHolder {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
#home .partners .imgHolder .rating {
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
}
#home .partners .imgHolder .partner {
  width: 100%;
  max-width: 160px;
  min-height: 70px;
  margin: 0 auto 20px;
}
@media (min-width: 992px) {
  #home .partners .imgHolder .partner {
    max-width: 220px;
  }
}
#home .partners .imgHolder .star {
  width: 100%;
  max-width: 100px;
  min-height: 70px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #home .partners .imgHolder .star {
    max-width: 190px;
    min-height: 118px;
  }
}

*,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 16px/20px "Lato", sans-serif;
  color: #171717;
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 10px;
  font-weight: 700;
}

.h1,
h1 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media (min-width: 992px) {
  .h1,
  h1 {
    font-size: 46px;
    line-height: 50px;
  }
}

.h2,
h2 {
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .h2,
  h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (min-width: 992px) {
  .h2,
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

h3,
.h3 {
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 992px) {
  h3,
  .h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 992px) {
  h4,
  .h4 {
    font-size: 22px;
    line-height: 26px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  cursor: pointer;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  min-width: 130px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 12px;
}

.btn {
  color: white;
  text-transform: uppercase;
  border: 1px solid rgb(23, 69, 88);
  background-color: rgb(23, 69, 88);
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(23, 69, 88);
  color: white;
}

.secondary {
  color: white;
  text-transform: uppercase;
  border: 1px solid #83b735;
  background-color: #83b735;
  transition: all 0.3s ease;
}
.secondary:hover {
  background-color: rgb(23, 69, 88);
  color: white;
}

.transparent {
  background: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  transition: all 0.3s ease;
}
.transparent:hover {
  background-color: white;
  color: rgb(23, 69, 88);
  border: 1px solid rgb(23, 69, 88);
}

.gray {
  background: #F8F8F8;
  color: #414141;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.gray:hover {
  background-color: white;
  color: #000;
  border: 1px solid rgba(51, 51, 51, 0.7019607843);
}

.italic {
  font-family: "Dancing Script", sans-serif;
}/*# sourceMappingURL=styles.css.map */